@main-color: #3b5998;
@margin-left: 15px;
@input-width: 90%;

html {
  height: 100%;

  body {
    height: 100%;
    padding: 0px;
    margin: 0px;

    h1 {
      margin-bottom: 40px;
      font-size: 500%;
    }

    h2 {
      font-size: 400%;
    }

    h1, h2 {
      color: @main-color;
      margin-left: @margin-left;
    }

    .btn {
      font-size: 150%;
    }

    .input-lg {
      height: 3em;
      font-size: 200%;
      min-width: 25%;
    }

    input {
      margin-left: @margin-left;
      &#videoUrlInput, &#share-url {
        width: @input-width;
      }
    }

    #videobox {
      height: 100%;
    }

    .videoBox {
      height: 100%;
    }

    .fbVideo {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      iframe {
        width: 100% !important;
        height: 100% !important;
      }
    }

    #urlCopied {
      margin-left: 10px;
      color: @main-color;
      font-size: 310%;
      vertical-align: middle;
      display: none;
    }

    .urlFromParam {
      background-color: #000;

      h1, form {
        display: none;
      }

      #video-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
      }

      #share-section {
        display: none;
      }
    }

    a.whatsapp {
      background: url(img/whatsapp-logo.svg) left center no-repeat;
      margin: 2px 0 0 10px;
      padding: 33px 46px 33px 33px;
      background-size: cover;
      position: relative;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
